:root {
	font-size: 2vw;
}

p {
	font-family: Qwigley;
	font-size: 2rem;
}

h4 {
	font-family: Qwigley;
	font-weight: bold;
	font-size: 3.5rem;
}

.header .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: black;
}

.header .navbar a {
	color: white;
	text-decoration: none;
	font-family: "Eczar", serif;
	font-size: 1rem;
}

.header .navbar-heading {
	font-size: 1rem;
}

.container my-5 {
	text-align: center;
	color: white;
	font-size: 2rem;
}

.title-main {
	font-size: 5rem;
	font-family: Qwigley;
	text-align: center;
	font-weight: bold;
	color: white;
	text-decoration: underline;
}

body {
	background-color: #222;
}

.responsive-logo {
	width: auto;
	height: 3.5rem;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
	border-radius: 5px;
	text-align: center;
	margin: 20px 0;
	font-size: medium;
	background-color: #dbdbdb;
}

.card img {
	border-radius: 5px 5px 0 0;
	max-width: 100%;
	height: auto;
}

.centered-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.card-body {
	padding: 2px 16px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-one,
.btn-two,
.btn-three {
	background-color: #222222;
	text-decoration: none;
	color: whitesmoke;
	font-size: 0.85rem;
	font-family: "Qwigley", cursive;
	border-radius: 8px;
	padding: 10px 20px;
	margin-top: 10%;
	border: none;
	cursor: pointer;
	width: 50%;
	opacity: 0.99;
}

.btn-one:hover,
.btn-two:hover,
.btn-three:hover {
	opacity: 0.89;
	text-decoration: underline;
}

.social-wrapper {
	padding: 20px 0;
}

.social-wrapper ul {
	padding: 0;
	margin: 0;
}

.social-wrapper ul li {
	display: inline-block;
	margin: 0 10px;
}

.instagram-logo,
.linkedin-icon,
.facebook-icon,
.email-logo,
.youtube-icon {
	width: 30px;
	height: 30px;
}

.copy-right {
	margin-top: 10px;
	color: whitesmoke;
}

@media (max-width: 576px) {
	/* Mobile devices */
	.card img {
		max-width: 80%;
	}
}

@media (min-width: 768px) {
	/* Tablets and up */
	:root {
		font-size: 1vw;
	}

	.header .navbar a,
	.header .navbar-heading {
		font-size: 1.6rem;
	}

	h4 {
		font-size: 3.5rem;
	}

	p {
		font-size: 2rem;
	}

	.btn-one,
	.btn-two,
	.btn-three {
		font-size: 0.75rem;
	}
}

@media (min-width: 992px) {
	/* Laptops and up */
	:root {
		font-size: 1.4vw;
	}

	.header .navbar a,
	.header .navbar-heading {
		font-size: 1.2rem;
	}

	h4 {
		font-family: Qwigley;
		font-weight: bold;
		font-size: 3rem;
	}

	p {
		font-size: 1.7rem;
	}

	.btn-one,
	.btn-two,
	.btn-three {
		font-size: 0.85rem;
	}
}

@media (min-width: 1200px) {
	/* Large screens */
	:root {
		font-size: 1vw;
	}

	h4 {
		font-family: Qwigley;
		font-weight: bold;
		font-size: 3.5rem;
	}

	.header .navbar a,
	.header .navbar-heading {
		font-size: 1.2rem;
	}

	p {
		font-size: 2rem;
	}

	.btn-one,
	.btn-two,
	.btn-three {
		font-size: 1rem;
	}
}
